.TitleDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 2px black;
}
.TitleDiv p{
  margin-top: 2vmin;
  margin-bottom: 7vmin;;
  font-size: 5vmin;
  background-color: rgba(200,200,200,0.6);
}
.TitleDiv img{
  width: 20vmin;
}

.MainDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: grey;
  padding: 2vmin 2vmin 2vmin 2vmin;
}

.cardAttr{ /*style for the whole card*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3vmin;
  padding: 25vmin 0 0 0;
  border: solid 10px;
  width: 40vmin;
}

.cardInfoAttr{ /*style for card info*/
  background-color: rgba(200,200,200,0.6);
  margin: 10vmin 1vmin 1vmin 1vmin;
}

body{
  background-image: url("Images/Background.jfif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white
}
h1{
  text-align: center;
  font-family: 'Seaweed Script', cursive;
  font-size: 20vmin;
}
h2{
  font-size: 10vmin;
  font-family: 'Seaweed Script', cursive;
  margin-bottom: 1vmin;
  text-shadow: 2px 2px black;
}


/*tags created for inside the card*/
h3{
  display: flex;
  justify-content: center;
  font-family: 'Spectral', serif;
  text-shadow: 1px 1px black;
}
p{
  font-family: 'Playfair Display SC', serif;
  text-shadow: 1px 1px black;
  margin: 0;
}
ul{
  font-family: 'Playfair Display SC', serif;
  text-shadow: 1px 1px black;
  margin:0;
}

@media screen and (max-width: 850px){
  .MainDiv{
    justify-content: center;
  }
}
